@import './base.css';
body {
	margin: 0pt;
	padding: 0pt;

	min-height: calc(100vh - 24pt);
	padding-bottom: 24pt;

	text-align: center;
}

#app {
	max-width: 8in;
	margin: 0 auto;

	font-weight: normal;
}

header {
	padding: 2rem;
}

h1 {
	font-size: 0.5in;
	line-height: 0.8in;
}
.logo {
	margin-right: 0.3in;
	height: 0.8in;
}
.arrow {
	width: 24pt;
	margin-left: 6pt;
	margin-right: 6pt;
	margin-bottom: calc(0.375in + 6pt);
	vertical-align: middle;
}
h1, .logo {
	display: inline-block;
	vertical-align: middle;
}

p {
	max-width: 5in;
	margin-left: auto;
	margin-right: auto;
}

div.fall {
	display: inline-block;
}

input, button {
	color: var(--color-text);
	background-color: var(--color-accent4);
	border: none;
	text-align: center;
	border-radius: 8pt;
	padding: 6pt;
	font-size: inherit;
}
input {
	/* min-width: 3in; */
	max-width: calc(100% - 16pt);
}
.errorlight {
	outline: 2pt solid var(--color-accent5);
}

.inputlabel {
	margin-right: 16pt;
}
button {
	cursor: pointer;
	padding-left: 12pt;
	padding-right: 12pt;
	margin-left: 12pt;
	margin-right: 12pt;
}
button[disabled] {
	cursor: default;
	color: var(--color-accent3);
	background-color: var(--color-accent4);
}
.suggest {
	background-color: var(--color-accent1);
}
.stop {
	background-color: var(--color-accent5);
}
.go {
	background-color: var(--color-accent2);
}
input:focus, button:focus {
	outline: 2pt solid var(--color-text);
}