@import './base.css';
body {
	margin: 0pt;
	padding: 0pt;
	padding-bottom: 24pt;
	padding-left: 12pt;
	padding-right: 12pt;

	text-align: center;
}

div.row {
	margin: 0 auto;
	margin-top: 24pt;
	margin-bottom: 24pt;
	max-width: 10in;
	display: block;
}

a, a:visited {
	color: var(--color-accent1);
	text-decoration: none;
}

.logo {
	max-width: max(68%, min(3in, 100%));
	max-height: 1.5in;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.h_arrow {
	width: 24pt;
	margin-left: 6pt;
	margin-right: 6pt;
	margin-bottom: calc(0.375in + 6pt);
	vertical-align: middle;
}
.v_arrow {
	height: 24pt;
	margin-top: 6pt;
	margin-bottom: 6pt;
}

p {
	max-width: 5in;
	margin-left: auto;
	margin-right: auto;
}

div.fall {
	display: inline-block;
}

div.sidebyside {
	display: inline-block;
	vertical-align: top;
	width: calc(50% - 6pt);
	margin-bottom: 6pt;
}
div.sidebyside:nth-child(even) {
	margin-left: 12pt;
}
div.tower{
	border: 2pt solid var(--color-backshade);
	border-radius: 12pt;
	margin-bottom: 6pt;
}
.tower>h3 {
	background-color: var(--color-backshade);
	margin-top: 0pt;
	padding: 4pt;
	border-top-left-radius: 10pt;
	border-top-right-radius: 10pt;
  }

input, button, div.multitextfield, div.multitextfield span span {
	padding: 6pt;
	color: var(--color-text);
	background-color: var(--color-backshade);
	border: none;
	text-align: center;
	border-radius: 8pt;
	font-size: inherit;
	max-width: calc(100% - 12pt);
	
	font-family: 'Fira Sans', sans-serif;
	font-weight: 300;
}
input[type="checkbox"], input[type="radio"] {
	position: absolute;
	opacity: 0;
}
button img, .infoline img, .warningline img {
	vertical-align: middle;
	height: 14pt;
}
img.left {
	margin-right: 8pt;
}
.infoline img, .warningline img {
	margin-right: 4pt;
}
img.right {
	margin-left: 8pt;
}
button span {
	vertical-align: middle;
	display: inline-block;
}

/* ERROR stuff (red) */
.errorlight {
	outline: 2pt solid var(--color-accent5);
}
.errorline {
	color: var(--color-accent5);
}
.errorbox {
	outline: 2pt solid var(--color-accent5);
	background-color: var(--color-backshade);
}

/* INFO stuff (grey/blue) */
.infoline, .adline {
	color: var(--color-text);
	font-weight: 500;
}
.infobox, .adbox {
	border: 2pt solid var(--color-accent3);
	padding: 4pt;
}

.infobox, .warningbox, .adbox {
	margin-top: 18pt;
	margin-bottom: 18pt;
	margin-left: auto;
	margin-right: auto;
	max-width: 5in;
	border-radius: 8pt;
	padding: 8pt;

	text-align: left;
	background-color: var(--color-backshade);
}
div.tower .infobox, div.tower .warningbox {
	margin: 4pt;
}


/* WARNING stuff (yellow) */
.warninglight {
	outline: 2pt solid var(--color-accent4);
}
.warningline {
	color: var(--color-accent4);
	font-weight: 500;
}
.warningbox {
	border: 2pt solid var(--color-accent4);
}


.inputlabel {
	vertical-align: middle;
	margin-right: 16pt;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
  /* Firefox */
}

button {
	cursor: pointer;
	padding-left: 12pt;
	padding-right: 12pt;
	margin-left: 12pt;
	margin-right: 12pt;
}
	
button.single{
	width: calc(50% - 24pt);
	max-width: calc(2.5in - 24pt);
}
button.double{
	width: calc(100% - 24pt);
	max-width: calc(5in - 24pt);
}
button.bigtext{
	font-size: calc(1.2 * var(--font-size));
	font-weight: 500;
}

button[disabled] {
	cursor: default;
	color: var(--color-accent3);
	background-color: var(--color-backshade);
}
.suggest {
	background-color: var(--color-accent1);
}
.stop {
	background-color: var(--color-accent5);
}
.go {
	background-color: var(--color-accent2);
}
input:focus, button:not(.nofocus):focus, div.hasfocus {
	outline: 2pt solid var(--color-text);
}

table {
	margin-left: auto;
	margin-right: auto;
	border-spacing: 0;
	max-width: 100%;
	table-layout: fixed;
	overflow-wrap: break-word;
}
table tr:nth-child(odd) td { background-color: var(--color-tr1); }
table tr:nth-child(even) td { background-color: var(--color-tr2); }
table td, table th {
	padding: 6pt;
	padding-left: 12pt;
	padding-right: 12pt;
}
table th { background-color: var(--color-accent1); font-weight: 500; }
table tr th:first-child{ border-top-left-radius: 8pt; }
table tr th:last-child{ border-top-right-radius: 8pt; }
table tr:last-child td:first-child{ border-bottom-left-radius: 8pt; }
table tr:last-child td:last-child{ border-bottom-right-radius: 8pt; }

div.step {
	display: inline-block;
	width: 1in;
	vertical-align: middle;
	font-weight: 500;
}
div.iconcircle {
	width: 0.75in;
	height: 0.75in;
	border-radius: 0.375in;
	margin: auto;
	margin-bottom: 0.15in;
}
div.complete { background-color: var(--color-accent2); }
div.current { background-color: var(--color-accent1); }
div.upcoming { background-color: var(--color-accent3); }
div.iconcircle img {
	width: 60%;
	height: 60%;
	margin: 20% 20%;
}
h2 div.iconcircle{
	display: inline-block;
	vertical-align: middle;
	margin: 0pt;
	margin-right: 12pt;
	width: calc(var(--font-size) * var(--line-height) * 2);
	height:calc(var(--font-size) * var(--line-height) * 2);
}
h2 span{
	vertical-align: middle;
}

div.steptitle {
	border-radius: 6pt;
	padding: 2pt;
}
div.steptitle.overarch{
	display: none;
}

pre {
	font-family: inherit;
}