@media screen and (max-width: 10in){
    /* modify nav/progress indicator */
    .topnavarrow{
        display:none;
    }

	/* modify nav/progress indicator */
	div.step {
		width: 15vmin;
        height: 15vmin;
	}
	div.iconcircle {
		width: 12vmin;
		height: 12vmin;
		border-radius: 50%;
		/*border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;*/
		margin: auto;
		margin-bottom: 0;
	}
	div.steptitle{
		display: none;
	}
	div.steptitle.overarch{
		display: block;
	}
	div.sidebyside {
		display: block;
		width: auto;
	}
	div.sidebyside:nth-child(even) {
		margin-left: 0pt;
	}
}